@import 'global.scss';

.button {
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 25px;
}

.button_theme_primary {
    background-color: $blue;
    color: $white;
}

.button_theme_ordinary {
    background-color: $darkBlue;
    color: $white;
}

.button_theme_white {
    background-color: $white;
    color: $darkBlue;
}

.button_with-icon {
    display: flex;
    justify-content: space-between;
}

.button__title {
    text-align: center;
    font-size: 30px;
    color: $white;
}

.button__icon {
    height: 85%;
    padding-left: 12px;
    color: $yellow;
}

.button__icon_color_primary {
    border-left: 2px solid $darkBlue;
}

.button__icon_color_ordinary,
.button__icon_color_white {
    border-left: 2px solid $blue;
}

.button_height_s {
    height: 42px;
}

.button_height_m {
    height: 60px;
}

.button_height_l {
    height: 72px;
}
