@import 'global.scss';

.dashboard-layout {
    padding: 15px 0 15px 0;
    width: 1720px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.dashboard-layout__title {
    font-size: 60px;
    color: $darkBlue;
    margin: 0;
}

.dashboard-layout__controls {
    display: flex;
    flex-direction: column;
    height: 100%;
}
