@import "global.scss";

.dashboard-layout {
    padding: 1.6rem 6rem 3rem 6rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.dashboard-layout__title {
    font-size: 3rem;
    color: $darkBlue;
    margin: 0;
}

.dashboard-layout__controls {
    display: flex;
    flex-direction: column;
}