@import "global.scss";

.news-modal {
    width: 29.2rem;
    height: 39.7rem;
    background-color: $white;
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
}

.news-modal__header {
    display: flex;
    position: relative;
}

.news-modal__title {
    width: 100%;
    text-align: center;
    color: $darkBlue;
}

.news-modal__close {
    position: absolute;
    right: 0;
    height: 1.75rem;
    color: $darkBlue;
}

.news-modal__content {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news-modal__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

.news-modal__description {
    color: $darkBlue;
    line-height: 1.5rem;
    text-align: center;
}

.news-modal__source {
    display: flex;
    align-items: center;
}

.news-modal__source-title {
    color: $darkBlue;
}

.news-modal__source-container {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 0.6rem;
}

.news-modal__source-item {
    color: $darkBlue;
    padding: 0 0.2rem;
}

.news-modal__source-item:hover {
    color: $yellow;
}

.news-modal__picture {
    border-radius: 1rem;
    width: 27.6rem;
    max-height: 15.5rem;
}