@import 'global.scss';

.dashboard-more {
    padding: 15px 0 15px 0;
    width: 1720px;
    margin: 0 auto;
    height: 820px;
}

.dashboard-more__work-elements {
    display: flex;
    width: auto;
    align-items: center;
    margin-bottom: 1.5rem;
}

.dashboard-more__back {
    color: $blue;
}

.dashboard-more__title {
    color: $darkBlue;
    margin: 0 1.6rem;
}

.dashboard-more__export {
    display: flex;
    height: 3rem;
    background-color: $blue;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
    padding: 0 0.8rem;
}

.dashboard-more__export-title {
    color: $white;
}

.dashboard-more__export-icon-container {
    height: 100%;
    border-left: 0.1rem solid $white;
    display: flex;
    align-items: center;
}

.dashboard-more__export-icon {
    padding-left: 0.6rem;
    color: $yellow;
}

.dashboard-more__edit-panel {
    height: 60px;
    background-color: $darkBlue;
    width: 250px;
    border-radius: 20px;
    padding: 0 16px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-more__add-user,
.dashboard-more__delete-user,
.dashboard-more__edit-user {
    color: $white;
}
