@import 'global.scss';

.auth-page {
    width: 1720px;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.auth-page__body {
    width: 600px;
    background-color: $blue;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-page__form {
    width: 100%;
}

.auth-page__username-container,
.auth-page__password-container {
    margin-bottom: 20px;
}

.auth-page__management {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 0 8px;
    margin-top: 10px;
}

.auth-page__submit-button {
    width: 185px;
}

.auth-page__forget {
    color: $white;
}

.auth-page__submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.auth-page__username,
.auth-page__password {
    margin-bottom: 15px;
}
