@import 'global.scss';

.auth-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page__form {
    width: 100%;
}

.auth-page__username-container {
    margin-bottom: 0.8rem;
}

.auth-page__password-container {
    margin-bottom: 0.8rem;
}

.auth-page__body {
    width:30rem;
    background-color: $blue;
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-page__management {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem 0 0.4rem;
}

.auth-page__submit-button {
    width: 9.5rem;
}

.auth-page__management .auth-page__forget {
    color: $white;
    font-size: 1.25rem;
    cursor: pointer;
}

.auth-page__company-logo {
    margin-bottom: 0.8rem;
}

.auth-page__submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

.auth-page__username {
    margin-bottom: 0.8rem;
}

.auth-page__password {
    margin-bottom: 0.8rem;
}