@import 'global.scss';

.auth-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page__form {
    width: 100%;
}

.auth-page__username-container {
    margin-bottom: 0.8rem;
}

.auth-page__password-container {
    margin-bottom: 0.8rem;
}

.auth-page__body {
    background-color: $blue;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-page__management {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.8rem 0 0.4rem;
}

.auth-page__submit-button {
    width: 185px;
}

.auth-page__management .auth-page__forget {
    color: $white;
    cursor: pointer;
}

.auth-page__submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.auth-page__username, .auth-page__password {
    margin-bottom: 15px;
}

@media only screen and (max-width: 1366px) {
    .auth-page__body {
        width: 500px;
    }

    .auth-page__company-logo svg {
        width: 250px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1919px) {
    .auth-page__body {
        width: 550px;
    }
}

@media only screen and (min-width: 1920px) {
    .auth-page__body {
        width: 600px;
    }
}