@import "global.scss";

.event {
    width: 100%;
    height: 7.4rem;
    color: $darkBlue;
}

.event:not(:last-child) {
    margin-bottom: 0.4rem;
}

.event__body {
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    border: 0.1rem solid $blue;
    background-color: $white;
    height: 100%;
    color: $darkBlue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.event__more-container {
    display: flex;
    justify-content: flex-end;
}

.event__more {
    cursor: pointer;
    color: $blue;
}

.event__link {
    height: 2.5rem;
    cursor: pointer;
    color: $darkBlue;
}

.event__link:hover {
    color: $yellow;
}

.event__description {
    font-size: 1rem;
    margin: 0.25rem 0;
}

.event__source {
    color: $darkBlue;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: default;
}

.event-active {
    position: absolute;
    z-index: 1;
    background-color: $white;
    border-radius: 1rem;
    height: 38.7rem;
    display: flex;
    flex-direction: column;
    color: $darkBlue;
    top: 0;
}

.event-active__header {
    background-color: $darkBlue;
    color: $white;
    padding: 0.8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.event-active__body {
    border: 0.1rem solid $blue;
    border-top: none;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-active__description {
    text-align: center;
    line-height: 1.25rem;
}

.event-active__contact {
    margin-top: 0.8rem;
}

.event-active__contact-header {
    text-align: center;
    margin-bottom: 0.4rem;
}

.event-active__date {
    margin-top: 0.6rem;
}

.event-active__date, .event-active__place {
    font-size: 1.25rem;
}

.event-active__navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-active__source-container {
    display: flex;
    align-items: center;
}

.event-active__source {
    margin-right: 0.6rem;
}

.event-active__link {
    color: $darkBlue;
    margin: 0 0.2rem;
    height: 2.5rem;
}

.event-active__link:hover {
    color: $yellow;
}

.event-active__button {
    color: $blue;
}