.event {
    padding: 10px;
    width: 50%;
    height: calc(100% / 3);

    &_isActive {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    &__body {
        padding: 15px;
        border-radius: 20px;
        border: 5px solid #0693E3;
        background-color: white;
        cursor: default;

        &:hover {
            background-color: #0693E3;

            .event__title, .event__date, .event__place {
                color: white;
            }

            .event__button {
                color: #002E45;
            }
        }
    }

    &__title {
        margin: 0;
    }

    &__date {
        margin: 0;
        font-size: 20px;

        &_isActive {
            font-size: 25px;
        }
    }

    &__place {
        margin: 0;
        font-size: 20px;

        &_isActive {
            font-size: 25px;
        }
    }

    &__button {
        margin: 0;
        cursor: pointer;
        color: #0693E3;
    }

    &__link {
        height: 50px;
        cursor: pointer;
        color: #002E45;
        
        &:hover {
            color: #FCB900;
        }
    }

    &__description {
        font-size: 20px;
        margin: 5px 0;
    }

    &__source {
        color: #002E45;
        font-size: 20px;
        margin-right: 10px;
        cursor: default;
    }
}