@import 'global.scss';

.event {
    width: 100%;
    height: calc(100% / 5);
    color: $darkBlue;
}

.event__container {
    height: 100%;
    padding: 10px 0 5px 0;
}

.event__body {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid $blue;
    background-color: $white;
    height: 100%;
    color: $darkBlue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.event__more-container {
    display: flex;
    justify-content: flex-end;
}

.event__more {
    cursor: pointer;
    color: $blue;
}

.event__more:hover {
    color: $yellow;
}

.event-active {
    position: absolute;
    z-index: 1;
    background-color: $white;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $darkBlue;
    top: 0;
    padding: 10px 0 5px 0;
}

.event-active__header {
    background-color: $darkBlue;
    color: $white;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.event-active__body {
    border: 2px solid $blue;
    border-top: none;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-active__description {
    text-align: center;
}

.event-active__contact {
    margin: 10px 0;
}

.event-active__contact-header {
    text-align: center;
    margin-bottom: 10px;
}

.event-active__date,
.event-active__place {
    text-align: center;
}

.event-active__navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-active__source-container {
    display: flex;
    align-items: center;
}

.event-active__link {
    color: $darkBlue;
    margin: 0 4px;
}

.event-active__link:hover {
    color: $yellow;
}

.event-active__button {
    color: $blue;
}

.event-active__button:hover {
    color: $yellow;
}
