@import 'global.scss';

.icon {
    box-sizing: border-box;
}

.icon_pointer {
    cursor: pointer;
}

.icon_disabled {
    cursor: default;
}

.icon_disabled > * {
    fill: $grey;
}

.icon_heightType_s {
    height: 35px;
}

.icon_heightType_m {
    height: 50px;
}

.icon_heightType_l {
    height: 100px;
}
