@import 'global.scss';

.header {
    background-color: $blue;
    width: 100%;
    height: 80px;
    min-height: 80px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
    width: 1720px;
}

.header__link {
    color: $darkBlue;
    margin-right: 15px;
}

.header__link:hover {
    color: $yellow;
}

.header__company {
    position: absolute;
    text-align: center;
    left: calc(50% - 15rem / 2);
}

.header__company-link > * {
    height: 60px;
}

.header__profile-data {
    display: flex;
    align-items: center;
}

.header__settings {
    color: $darkBlue;
    margin-right: 15px;
}

.header__settings:hover {
    color: $yellow;
}

.header__user-name {
    color: $white;
    margin-right: 15px;
}

.header__user-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header__exit {
    color: $darkBlue;
}

.header__exit:hover {
    color: $yellow;
}
