@import "global.scss";

.news {
    color: $white;
    margin-bottom: 3px;
}

.news:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.news__body {
    padding: 10px;
    background-color: $darkBlue;
    border-radius: 1rem;
    height: 100%;
}

.news__picture {
    width: 19.2rem;
    border-radius: 1rem;
    display: block;
    height: 10.8rem;
}

.news__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
    height: 100%;
    max-height: 6.2rem;
}

.news__title {
    text-align: center;
}

.news__more-container {
    display: flex;
    justify-content: flex-end;
}

.news__more {
    color: $blue;
}

.news__more:hover {
    color: $yellow;
}

@media only screen and (max-width: 1399px) {
    .news {
        width: 280px;
        height: 240px;
    }

    .news__picture {
        width: 260px;
        height: 146px;
    }

    .news__description {
        height: 65px
    }
}

@media only screen and (min-width: 1400px) {
    .news {
        width: 326px;
        height: 285px;
    }

    .news__picture {
        width: 306px;
        height: 172px;
    }

    .news__description {
        height: 85px;
    }
}