@import 'global.scss';

.news {
    padding: 10px;
    width: calc(100% / 3);
    height: calc(100% / 2);
}

.news__container {
    padding: 10px;
    border-radius: 20px;
    background-color: $darkBlue;
    height: 100%;
}

.news__body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.news__picture {
    height: 60%;
    min-height: 60%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.news__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    height: 100%;
}

.news__title {
    text-align: center;
    color: $white;
}

.news__more-container {
    display: flex;
    justify-content: flex-end;
}

.news__more {
    color: $blue;
}

.news__more:hover {
    color: $yellow;
}
