@import "global.scss";

.title {
    @include base-font-weight;
    cursor: default;
}

.title_size_s {
    font-size: 1.5rem;
}

.title_size_m {
    font-size: 2rem;
}

.title_size_l {
    font-size: 3rem;
}