@import "global.scss";

.title {
    @include base-font-weight;
    cursor: default;
}

@media only screen and (max-width: 1366px) {
    .title_size_s {
        font-size: 25px;
    }
    
    .title_size_m {
        font-size: 30px;
    }
    
    .title_size_l {
        font-size: 45px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1919px) {
    .title_size_s {
        font-size: 30px;
    }
    
    .title_size_m {
        font-size: 40px;
    }
    
    .title_size_l {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1920px) {
    .title_size_s {
        font-size: 30px;
    }
    
    .title_size_m {
        font-size: 40px;
    }
    
    .title_size_l {
        font-size: 60px;
    }
}