@import 'global.scss';

.table {
    width: 100%;
    table-layout: fixed;
}

.table_empty {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $darkBlue;
    background: rgba(0, 0, 0, 0.2);
}

.table__title_empty {
    color: $darkBlue;
    font-weight: 700;
}

.table__thead-container {
    padding: 15px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.table__thead {
    color: $white;
    height: 70px;
    background-color: $blue;
}

.table__thead_th {
    font-size: 25px;
    font-weight: 400;
}

.table__container {
    height: 670px;
    overflow-x: auto;
}

.table__tbody-container {
    width: 100%;
    table-layout: fixed;
}

.table__tbody_tr {
    height: 60px;
    border-bottom: 3px solid $blue;
}

.table__tbody_tr_isSelected {
    background-color: $darkBlue;
    color: $white;
}

.table__tbody_td {
    padding: 20px 10px;
    border-bottom: 3px solid $blue;
    font-size: 25px;
    font-weight: 400;
}

.table__tbody_td:not(:last-child) {
    border-right: 3px solid $blue;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #002e45;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #002e45;
}
