@import "global.scss";

.icon_pointer {
    cursor: pointer;
}

svg.icon_disabled {
    cursor: default;
    color: $grey;
}

.icon_heightType_s {
    height: 1.75rem;
}

.icon_heightType_m {
    height: 2.5rem;
}

.icon_heightType_l {
    height: 5rem;
}