.home-events {
    height: 100%;
}

.home-events__title {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.home-events__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1399px) {
    .home-events {
        width: 300px;
    }

    .home-events__container {
        height: calc(100% - 43px);
    }
}

@media only screen and (min-width: 1400px) {
    .home-events {
        width: 400px;
    }

    .home-events__container {
        height: calc(100% - 63px);
    }
}