.home-events {
    width: 424px;
}

.home-events__title {
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.home-events__container {
    height: max-content;
}