.home-events {
    width: 21.2rem;
}

.home-events__title {
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.4rem;
}

.home-events__container {
    height: max-content;
}