@import 'global.scss';

.add-user-modal {
    width: 27.5rem;
    background-color: $white;
    border-radius: 1rem;
}

.add-user-modal__header {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    background-color: $darkBlue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 1;
}

.add-user-modal__title {
    color: $white;
}

.add-user-modal__close {
    position: absolute;
    right: 0.8rem;
    color: $white;
}

.add-user-modal__body {
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
}

.add-user-modal__block-title {
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    text-align: center;
    color: $darkBlue;
}

.add-user-modal__lastname,
.add-user-modal__name,
.add-user-modal__username {
    margin-bottom: 0.4rem;
}

.add-user-modal__submit-button-container {
    padding: 0.8rem 0;
}

.add-user-modal__submit-button {
    width: 100%;
}
