@import 'global.scss';

.text-box__wrapper {
    display: flex;
    width: 100%;
}

.text-box__wrapper_label_top {
    flex-direction: column;
}

.text-box__wrapper_label_left {
    flex-direction: row;
}

.text-box__label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-box__label-container_position_top {
    padding: 0 16px 5px 16px;
}

.text-box__label-container_position_left {
    padding-right: 8px;
}

.text-box__input-container {
    display: flex;
    position: relative;
}

.text-box__input {
    padding: 0 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.text-box__input_color_primary {
    background-color: $white;
    border: 2px solid $blue;
    color: $darkBlue;
}

.text-box__input_color_ordinary {
    background-color: $darkBlue;
    color: $white;
}

.text-box__label {
    box-sizing: border-box;
}

.text-box__label_color_primary {
    color: $darkBlue;
}

.text-box__label_color_ordinary {
    color: $white;
}

.text-box__icon {
    position: absolute;
    right: 16px;
    top: 20%;
    color: $white;
    cursor: pointer;
}

.text-box__error {
    font-size: 16px;
}

.text-box__error_theme_primary {
    color: $red;
}

.text-box__error_theme_ordinary {
    color: $lightRed;
}

.text-box__input_height_s {
    height: 52px;
}

.text-box__input_height_m {
    height: 60px;
}

.text-box__input_height_l {
    height: 70px;
}
