@import 'global.scss';

.text {
    box-sizing: border-box;

    @include base-font-weight;
    @include base-font-style;
}

.text_cursor_pointer {
    cursor: pointer;
}

.text_size_s {
    font-size: 20px;
}

.text_size_m {
    font-size: 25px;
}

.text_size_l {
    font-size: 30px;
}
