@import "global.scss";

.message-modal {
    display: flex;
    flex-direction: column;
    width: 26.5rem;
    height: auto;
    background-color: $white;
    border-radius: 1rem;
    color: $darkBlue;
}

.message-modal__header {
    display: flex;
    width: 100%;
}

.message-modal__title {
    padding: 0.4rem 0 0.4rem 0.8rem;
    border-bottom: 0.15rem solid $blue;
    width: 100%;
}

.message-modal__close {
    position: absolute;
    right: 0;
    height: 1.75rem;
    color: $darkBlue;
    cursor: pointer;
    margin: 0.5rem 0.8rem 0 0;
}

.message-modal__body {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.message-modal__button-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.message-modal__button-close {
    width: 10rem;
}