@import 'global.scss';

.add-user-modal {
    width: 1100px;
    background-color: $white;
    border-radius: 20px;
}

.add-user-modal__form {
    box-sizing: border-box;
}

.add-user-modal__header {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: $darkBlue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    position: relative;
}

.add-user-modal__title {
    color: $white;
}

.add-user-modal__close {
    position: absolute;
    right: 16px;
    color: $white;
}

.add-user-modal__body {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
}

.add-user-modal__panel {
    display: flex;
    width: 100%;
}

.add-user-modal__personal-data,
.add-user-modal__work-info {
    width: 50%;
    padding: 10px;
}

.add-user-modal__block-title {
    padding: 16px 16px 8px 16px;
    text-align: center;
    color: $darkBlue;
}

.add-user-modal__lastname,
.add-user-modal__name,
.add-user-modal__username,
.add-user-modal__work-place,
.add-user-modal__position,
.add-user-modal__phone {
    margin-bottom: 8px;
}

.add-user-modal__submit-button-container {
    margin: 20px 10px 30px 10px;
}

.add-user-modal__submit-button {
    width: 100%;
}
