.header {
    height: 120px;
    min-height: 120px;
    background-color: #0693E3;
    padding: 0 120px;

    &__links {
        height: 50px;
        width: 300px;
    }

    &__link {
        height: 50px;
        cursor: pointer;
        color: #002E45;
        margin-right: 10px;

        &:hover {
            color: #FCB900;
        }
    }

    &__profile-data {
        width: 300px;
    }

    &__settings {
        cursor: pointer;
        font-size: 50px;
        color: #002E45;
        &:hover {
            color: #FCB900;
        }
    }
}

.profile {
    margin-right: 10px;
    &__name {
        color: white;
        margin-right: 10px;
    }

    &__logo-container {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    &__logo {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }
}