@import "global.scss";

.header {
    background-color: $blue;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    padding: 0 16px;
}

.header__link {
    color: $darkBlue;
    margin-right: 0.5rem;
}

.header__link:hover {
    color: $yellow;
}

.header__company {
    position: absolute;
    text-align: center;
    left: calc(50% - 15rem / 2);
}

.header__profile-data {
    display: flex;
    align-items: center;
}

.header__settings {
    cursor: pointer;
    color: $darkBlue;
}

.header__settings:hover {
    color: $yellow;
}

.header__user-name {
    color: $white;
    margin-right: 0.8rem;
    cursor: default;
}

.header__user-icon {
    border-radius: 50%;
    margin-right: 0.8rem;
    cursor: pointer;
}

@media only screen and (max-width: 1399px) {
    .header {
        height: 60px;
        min-height: 60px;
    }

    .header__container {
        width: 1200px;
    }

    .header__company svg {
        height: 45px;
    }

    .header__user-icon {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        height: 80px;
        min-height: 80px;
    }

    .header__container {
        width: 1400px;
    }

    .header__company svg {
        height: 65px;
    }

    .header__user-icon {
        width: 50px;
        height: 50px;
    }
}