.header {
    height: 120px;
    min-height: 120px;
    background-color: #0693E3;
    padding: 0 120px;

    &__link {
        height: 50px;
        cursor: pointer;
        color: #002E45;
        margin-right: 10px;

        &:hover {
            color: #FCB900;
        }
    }

    &__settings {
        cursor: pointer;
        margin-left: 10px;
        font-size: 50px;
        color: #002E45;
        &:hover {
            color: #FCB900;
        }
    }
}