@import url('./global.scss');

* {
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Roboto';
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
    position: relative;
}
