@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$blue: #0693e3;
$darkBlue: #002e45;
$yellow: #fcb900;
$sky: rgba(6, 147, 227, 0.2);
$white: #ffffff;
$grey: #d9d9d9;
$red: #e32636;
$lightRed: #ffc0cb;

@mixin base-font-weight() {
    &_weight {
        &_bold {
            font-weight: 700;
        }
        &_default {
            font-weight: 400;
        }
    }
}

@mixin base-font-style() {
    &_style {
        &_default {
            font-style: normal;
        }
        &_bold {
            font-weight: 700;
        }
        &_italic {
            font-style: italic;
        }
    }
}
