$blue: #0693e3;
$darkBlue: #002e45;
$yellow: #fcb900;
$sky: rgba(6, 147, 227, 0.2);
$white: #ffffff;
$grey: #d9d9d9;
$red: #e32636;
$lightRed: #ffc0cb;

@mixin base-font-weight() {
    &_weight {
        &_bold {
            font-weight: 700;
        }
        &_default {
            font-weight: 400;
        }
    }
}

@mixin base-font-style() {
    &_style {
        &_default {
            font-style: normal;
        }
        &_bold {
            font-weight: 700;
        }
        &_italic {
            font-style: italic;
        }
    }
}
