@import 'global.scss';

.choose-modal {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: $white;
    border-radius: 20px;
    color: $darkBlue;
}

.choose-modal__header {
    display: flex;
    width: 100%;
    padding-top: 16px;
}

.choose-modal__title {
    border-bottom: 3px solid $blue;
    width: 100%;
    padding: 0 16px 16px;
}

.choose-modal__close {
    position: absolute;
    right: 16px;
    color: $darkBlue;
}

.choose-modal__body {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.choose-modal__button-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.choose-modal__button-accept,
.choose-modal__button-close {
    width: 275px;
}
