.home-page {
    padding: 30px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
    .home-page {
        width: 1100px;
        height: 580px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1919px) {
    .home-page {
        width: 1300px;
        height: 782px;
    }
}

@media only screen and (min-width: 1920px) {
    .home-page {
        width: 1700px;
        height: 939px;
    }
}