.edit-user-modal {
    &__title {
        padding-bottom: 15px;
        border-bottom: 1px solid #0693E3;
        color: #002E45;
    }

    &__role {
        padding-top: 10px;
    }

    &__gender {
        padding-top: 10px;
    }

    &__checkbox-title {
        font-size: 20px;
        padding: 0 20px 5px 20px;
        color: #002E45;
    }

    &__label {
        color: #002E45;
    }

    &__input {
        background-color: #0693E3;
    }

    &__container {
        width: 100% !important;

        &_isAge {
            padding-top: 10px;
        }
    }

    &__form {
        margin: 20px 0 0 0;
    }

    &__accept-button {
        width: 100%;
        margin-top: 30px;
        border-radius: 20px;
        background-color: #002E45;
        color: white;
        height: 50px;
    }
}