.home-news {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.home-news__title {
    width: 100%;
    text-align: center;
}

.home-news__container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
