.home-news {
    width: 1273px;
    display: flex;
    flex-direction: column;
}

.home-news__title {
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    text-align: center;
    cursor: default;
    margin-bottom: 8px;
}

.home-news__container {
    display: flex;
    flex-wrap: wrap;
}